<nav class="navbar navbar-expand-lg custom-navbar m-0 p-0 border-0">
  <div class="container-fluid d-flex flex-wrap p-0">
    <!-- Left Half -->
    <div class="navbar-left d-flex align-items-center px-3 flex-grow-1">
      <a class="navbar-brand fw-bold" href="/">Kaif Mohammed</a>
    </div>

    <!-- Right Half -->
    <div class="navbar-right d-flex justify-content-end align-items-center px-3">
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-center text-lg-start">
          <li class="nav-item"><a class="nav-link text-dark" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="/#projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="/contact">Contacts</a></li>
           <li class="nav-item"><a class="nav-link text-dark" href="/#skills">Skills</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
